
@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
  @apply rounded-2xl px-4 h-9 block bg-white w-full focus:outline-none sm:text-sm;
}

.input {
  @apply mt-1 py-2 px-4 bg-slate-100 text-slate-600 focus:outline-none block w-full sm:text-sm;
}

.button {
  @apply rounded-2xl px-4 py-1 focus:outline-none;
}

.button-disabled {
  @apply rounded-2xl px-4 py-1 focus:outline-none;
}

.todo-item {
  @apply rounded-2xl py-1 bg-white focus:outline-none
}

.button-color {
  @apply w-5 h-5 rounded-xl drop-shadow-sm
}

